<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.clean.dao.mapper.write.EnvironmentMapper">
    <select id="getAll" resultType="com.sun.clean.domain.Environment">
        SELECT * FROM dc_meal_bca_overview_environment
    </select>
    <select id="getAllBusinessDistrictId" resultType="java.lang.String">
        SELECT business_district_id
        FROM dc_meal_bca_overview_environment
        GROUP BY business_district_id
    </select>
</mapper>