<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata3d.meal.dao.write.mapper.InsertWriteMapper">

    <insert id="saveAgeWrite" parameterType="com.idata3d.meal.domain.write.AgeWrite">
        INSERT INTO dc_meal_age
        VALUES
        (#{age.id},#{age.businessDistrictId},#{age.caPersonaAge_0_19},#{age.caPersonaAge_20_29},#{age.caPersonaAge_30_39},#{age.caPersonaAge_40_49},#{age.caPersonaAge_50_59},#{age.caPersonaAge_60_above},#{age.caPersonaGenderBatchIndex})
    </insert>

    <insert id="saveAvgRatioWrite" parameterType="com.idata3d.meal.domain.write.AvgRatioWrite">
        INSERT INTO dc_meal_avg_price_greater_than_eighty_comment_ratio
        VALUES
        (#{ratio.id},#{ratio.businessDistrictId},#{ratio.caShopStyles},#{ratio.commentGrowthRate},#{ratio.caShopReviewersGroup})
    </insert>

    <insert id="saveAvgShopNumWrite" parameterType="com.idata3d.meal.domain.write.AvgShopNumWrite">
        INSERT INTO dc_meal_avg_price_greater_than_eighty_shop_num
        VALUES
        (#{shopNum.id},#{shopNum.businessDistrictId},#{shopNum.caShopStyles},#{shopNum.commentGrowthRate},#{shopNum.caShopReviewersGroup})
    </insert>

    <insert id="saveBcaIndexWrite" parameterType="com.idata3d.meal.domain.write.BcaIndexWrite">
        INSERT INTO dc_meal_bca_overview_shunt_index
        VALUES
        (#{index.id},#{index.date},#{index.shuntIndex},#{index.businessDistrictId})
    </insert>

    <insert id="saveBcaInformationWrite" parameterType="com.idata3d.meal.domain.write.BcaInformationWrite">
        INSERT INTO dc_meal_bca_restaurant_different_fold_shop_information
        VALUES
        (#{information.id},#{information.businessDistrictId},#{information.lesThanForty},#{information.fortyEighty},#{information.fortyGreathundred},#{information.greathundredEightscore},#{information.greaterEightscore},#{information.batch})
    </insert>

    <insert id="saveBcaSituationWrite" parameterType="com.idata3d.meal.domain.write.BcaSituationWrite">
        INSERT INTO dc_meal_bca_restaurant_format_situation
        VALUES
        (#{situation.id},#{situation.businessDistrictId},#{situation.mealType},#{situation.number},#{situation.group})
    </insert>

    <insert id="saveCommentDataWrite" parameterType="com.idata3d.meal.domain.write.CommentDataWrite">
        INSERT INTO dc_meal_comment_data
        VALUES
        (#{commentData.id},#{commentData.businessDistrictId},#{commentData.vegetableType},
        #{commentData.lessThanForty},#{commentData.fortyEighty},#{commentData.fortyGreathundred},
        #{commentData.greathundredEightscore},#{commentData.greaterEightscore},#{commentData.batch})
    </insert>

    <insert id="saveCommentShareWrite" parameterType="com.idata3d.meal.domain.write.CommentShareWrite">
        INSERT INTO dc_meal_comment_share
        VALUES
        (#{commentShare.id},#{commentShare.businessDistrictId},#{commentShare.caShopStyles},#{commentShare.reviewsPre},#{commentShare.group})
    </insert>

    <insert id="saveCommentWrite" parameterType="com.idata3d.meal.domain.write.CommentWrite">
        INSERT INTO dc_meal_comment
        VALUES
        (#{comment.id},#{comment.srcShopId},#{comment.desShopId},#{comment.count},#{comment.batch})
    </insert>

    <insert id="saveGenderWrite" parameterType="com.idata3d.meal.domain.write.GenderWrite">
        INSERT INTO dc_meal_gender
        VALUES
        (#{gender.id},#{gender.businessDistrictId},#{gender.caPersonaGenderMale},#{gender.caPersonaGenderFemale},#{gender.caPersionaGenderBatchIndex})
    </insert>

    <insert id="saveRentalWrite" parameterType="com.idata3d.meal.domain.write.RentalWrite">
        INSERT INTO dc_meal_rental
        VALUES
        (#{rental.id},#{rental.businessDistrictId},#{rental.caName},#{rental.caRentalStreet},
        #{rental.caRentalOfficeBuilding},#{rental.caRentalResidence},#{rental.caRentalAverage},#{rental.caRentalBatchIndex})
    </insert>

    <insert id="saveShopsWrite" parameterType="com.idata3d.meal.domain.write.ShopsWrite">
        INSERT INTO dc_meal_shops
        VALUES
        (#{shops.id},#{shops.businessDistrictId},#{shops.caShopName},#{shops.caShopStyles},
        #{shops.caShopAvgprice},#{shops.caShopReviews},#{shops.caShopReviewersGroup})
    </insert>
</mapper>